/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  background-color: var(--surface-800);
  color: #fff;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
